$primary: #6e56e0;
$secondary: #898989;
$danger: #c33535;
$gray: #272727;
$light-gray: #27272777;
$black: #151515;
$white: #ffffff;
$yellow: #ffd928;
$gray-black: #272727;
$orange: #ffa424;
$dark-purple: #423199f1;
$slate-blue: #697386;
$green: #288a05;
