// Import configuration settings, such as variables and mixins
@import "_config";

// Main container for the dashboard, structured as a column
.dashboard-main-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding-top: 16px;

  // Dashboard title styling
  h1 {
    font-weight: 700;
    font-size: 28px;
    color: $white;
  }

  // Container for dashboard elements, set to take full width and align items horizontally
  .dashboard-container {
    width: 100%;
    display: flex;
    gap: 16px;
  }

  // Main container for the dashboard heatmap, including border and background styles
  .dashboard-heatmap-main-container {
    width: 50%;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border: 1px solid $gray;
    background-color: $light-gray;

    // Container for the heatmap date section with padding and border at the bottom
    .heatmap-date-div-container {
      padding: 10px 16px 10px 24px;
      border-bottom: 1px solid $gray;
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;

      // Styling for titles within the heatmap date section
      h1 {
        font-weight: 600;
        font-size: 16px;
        color: $white;
      }
    }

    // Flex container for date-related elements within the heatmap
    .heatmap-date-div {
      display: flex;

      div {
        padding: 8px 16px;
        display: flex;
        align-items: center;
        gap: 16px;
        font-size: 15px;
        font-weight: 400;
        color: $secondary;
        position: relative;

        // Position the select dropdown within the date div
        select {
          position: absolute;
          top: 38px;
          right: 20px;
        }
      }
    }

    // Container for displaying the days in the heatmap, with flexible child divs
    .dashboard-days-main-container {
      padding: 8px 16px;
      width: 100%;
      display: flex;
      div {
        color: $white;
        font-size: 16px;
        font-weight: 600;
        border: 1px solid $gray;
        padding: 10px 10px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        // Rounded borders for the first and last child elements
        &:first-child {
          border-radius: 8px 0 0 8px;
        }
        &:last-child {
          border-radius: 0 8px 8px 0;
        }
      }

      // Highlight the 5th day with a danger background color
      div {
        &:nth-child(5) {
          background-color: $danger;
        }
      }
    }

    // Container for displaying leave statistics, aligned horizontally
    .leaves-main-container {
      padding: 8px 48px;
      display: flex;
      gap: 16px;
      width: 100%;
      justify-content: space-between;
      div {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;

        // Title styling within the leave statistics section
        h1 {
          font-size: 15px;
          color: $white;
          font-weight: 400;
        }

        // Progress circle visualization for statistics
        .progress-circle {
          --size: 100px;
          --progress: 0;
          width: var(--size);
          height: var(--size);
          border-radius: 50%;
          background: conic-gradient(
            $primary calc(var(--progress) * 1%),
            $gray-black calc(var(--progress) * 1%)
          );
          display: flex;
          align-items: center;
          justify-content: center;
          position: relative;

          // Inner circle within the progress circle
          &::before {
            content: "";
            width: calc(var(--size) * 0.86);
            height: calc(var(--size) * 0.86);
            background-color: #1e1e1e;
            border-radius: 50%;
            position: absolute;
          }

          // Text displaying the progress value within the circle
          .progress-value {
            font-size: calc(var(--size) * 0.25);
            font-weight: bold;
            color: $white;
            position: relative;
            z-index: 1;
          }
        }
      }
    }

    // Container for displaying the most popular day, styled with padding and borders
    .popular-day-container {
      padding: 16px 24px;
      width: 100%;
      border-top: 1px solid $gray;
      font-weight: 400;
      font-size: 12px;
      color: $secondary;
    }

    // Container for displaying the people with the most days away, aligned horizontally
    .most-days-away-people-container {
      padding: 8px 24px;
      display: flex;
      align-items: center;
      justify-content: space-between;

      // Styling for each person within the most days away section
      .people-container {
        display: flex;
        align-items: center;
        gap: 16px;
        h1 {
          font-size: 14px;
          color: $secondary;
          font-weight: 400;
        }
      }

      // Paragraph styling for the most days away text
      p {
        font-size: 14px;
        color: $white;
        font-weight: 400;
      }
    }
  }
}
