// Import configuration settings, such as variables and mixins
@import "_config";

// Main container for the filter section
.filter-main-container {
  display: flex; // Align items in a row
  align-items: center; // Vertically center the items
  gap: 8px; // Space between filter items

  .filter-div {
    display: flex; // Flexbox for child elements

    div {
      padding: 18px 8px; // Padding around each filter item
      font-weight: 400; // Regular font weight
      font-size: 15px; // Font size for filter text
      color: $secondary; // Default text color
      cursor: pointer; // Pointer cursor on hover

      &:hover {
        color: $white; // Change text color on hover
      }
    }

    // Styling for the first filter item
    .filter-div-first {
      border-bottom: 2px solid $primary; // Underline with primary color
      color: $white; // Text color for the active filter
    }
  }
}

// Styling for the active filter indicator
.filter-div-active {
  height: 4px; // Small height for the dot
  width: 4px; // Small width for the dot
  background-color: $yellow; // Yellow background for the active dot
  padding: 0 !important; // Remove padding
  border-bottom: 0 !important; // Remove any border bottom
  border-radius: 50%; // Make the dot circular
  margin-top: 8px; // Space above the active dot
}

// Filter icon styling
.filterIcon {
  cursor: pointer; // Pointer cursor for the icon

  path {
    transition: all 300ms; // Smooth transition for path changes
  }

  &:hover path {
    fill: $white; // Change icon color on hover
  }
}
