@import "_config";

.dashboard-main-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding-top: 16px;
  h1 {
    font-weight: 700;
    font-size: 28px;
    color: $white;
  }
  .dashboard-container {
    width: 100%;
    display: flex;
    gap: 16px;
  }
  .dashboard-heatmap-main-container {
    width: 50%;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border: 1px solid $gray;
    background-color: $light-gray;
    .heatmap-date-div-container {
      padding: 10px 16px 10px 24px;
      border-bottom: 1px solid $gray;
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      h1 {
        font-weight: 600;
        font-size: 16px;
        color: $white;
      }
    }
    .heatmap-date-div {
      display: flex;

      div {
        padding: 8px 16px;
        display: flex;
        align-items: center;
        gap: 16px;
        font-size: 15px;
        font-weight: 400;
        color: $secondary;
        position: relative;
        select {
          position: absolute;
          top: 38px;
          right: 20px;
        }
      }
    }
    .dashboard-days-main-container {
      padding: 8px 16px;
      width: 100%;
      display: flex;
      div {
        color: $white;
        font-size: 16px;
        font-weight: 600;
        border: 1px solid $gray;
        padding: 10px 10px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        &:first-child {
          border-radius: 8px 0 0 8px;
        }
        &:last-child {
          border-radius: 0 8px 8px 0;
        }
      }
      div {
        &:nth-child(5) {
          background-color: $danger;
        }
      }
    }
    .leaves-main-container {
      padding: 8px 48px;
      display: flex;
      gap: 16px;
      width: 100%;
      justify-content: space-between;
      div {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        h1 {
          font-size: 15px;
          color: $white;
          font-weight: 400;
        }
        .progress-circle {
          --size: 100px;
          --progress: 0;
          width: var(--size);
          height: var(--size);
          border-radius: 50%;
          background: conic-gradient(
            $primary calc(var(--progress) * 1%),
            $gray-black calc(var(--progress) * 1%)
          );
          display: flex;
          align-items: center;
          justify-content: center;
          position: relative;
          &::before {
            content: "";
            width: calc(var(--size) * 0.86);
            height: calc(var(--size) * 0.86);
            background-color: #1e1e1e;
            border-radius: 50%;
            position: absolute;
          }
          .progress-value {
            font-size: calc(var(--size) * 0.25);
            font-weight: bold;
            color: $white;
            position: relative;
            z-index: 1;
          }
        }
      }
    }
    .popular-day-container {
      padding: 16px 24px;
      width: 100%;
      border-top: 1px solid $gray;
      font-weight: 400;
      font-size: 12px;
      color: $secondary;
    }
    .most-days-away-people-container {
      padding: 8px 24px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      .people-container {
        display: flex;
        align-items: center;
        gap: 16px;
        h1 {
          font-size: 14px;
          color: $secondary;
          font-weight: 400;
        }
      }
      p {
        font-size: 14px;
        color: $white;
        font-weight: 400;
      }
    }
  }
}
