@import url("https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Urbanist", sans-serif;
}

@import "config";

body {
  background-color: $black;
}

@import "header";
@import "mainSection";
@import "sidebar";
@import "filters";
@import "dashboard";
@import "leaveRequest";
@import "table";
@import "responsive";
@import "notification";
@import "modal";
@import "selectBox";
@import "date-picker";
